@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    min-height: 100dvh;
    min-height: 100vh;
    background: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: relative;
    /* width: 300px; */
    width: 90%;
    max-width: 380px;
    /* height: 83px; */
    height: 90px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 1.6px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height .6s ease;
}

.search-box {
    position: relative;
    width: 100%;
    /* height: 40px; */
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 20px;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1.6px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    /* font-size: 15px; */
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 58px 0px 34px;
}

.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.search-box button {
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    padding: 0 20px 0 20px;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.search-box button:active {
    transform: translateY(2px);
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box,
.weather-details,
.not-found {
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box {
    transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box .box .info-weather {
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather-box img {
    width: 60%;
}

.weather-box .temprature {
    position: relative;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    margin: 12px 0 4px -12px;
}

.weather-box .temprature span {
    position: absolute;
    font-size: 16px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    display: flex;
    font-size: 12px;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-details .humidity .info-humidity,
.weather-details .wind .info-wind {
    transform: translateY(-100%);
    overflow: hidden;
}

.weather-details i {
    font-size: 34px;
    margin-right: 8px;
}

.weather-details span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.weather-details p {
    font-size: 12px;
    font-weight: 500;
}

.weather-details .humidity {
    padding-left: 12px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 12px;
    justify-content: flex-end;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 95px;
}

.not-found p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
}

.not-found img {
    width: 65%;
}

.city-hide {
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
    position: absolute;
    transform: translateY(-100%);
}

#clone-info-weather .weather {
    transform: translateY(120%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
    transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}

@media (min-width: 720px) {
    .container {
        position: relative;
        width: 400px;
        height: 100px;
        background-color: rgba(255, 255, 255, .1);
        backdrop-filter: blur(30px);
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 16px;
        padding: 20px;
    }

    .search-box {
        height: 55px;
    }

    .search-box input {
        font-size: 22px;
        padding: 0px 48px 0px 42px;
        border: 2px solid rgba(255, 255, 255, .2);
    }

    .search-box button {
        width: 48px;
        font-size: 28px;
        padding: 0 40px 0 5px;
        transition: transform 0.15s ease;
    }

    .search-box button:active {
        transform: translateY(3px);
    }

    .search-box i {
        font-size: 28px;
    }

    .weather-box .temprature {
        font-size: 64px;
        margin: 20px 0 6px -30px;
    }

    .weather-box .temprature span {
        font-size: 24px;
    }

    .weather-box .description {
        font-size: 22px;
    }

    .weather-details {
        bottom: 36px;
        padding: 0 16px;
        font-size: 15px;
    }

    .weather-details .humidity,
    .weather-details .wind {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .weather-details .humidity {
        padding-left: 20px;
    }

    .weather-details .wind {
        padding-right: 20px;
    }

    .weather-details i {
        font-size: 56px;
        margin-right: 10px;
    }

    .weather-details span {
        font-size: 22px;
    }

    .weather-details p {
        font-size: 14px;
    }

    .not-found {
        margin-top: 110px;
    }

    .not-found p {
        font-size: 22px;
        font-weight: 500;
        margin-top: 15px;
    }
}

.no-copy {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clone-info-weather:not(.active-clone) .weather {
    transform: translateY(120%) !important;
    transition: transform 1s ease;
}

#clone-info-humidity:not(.active-clone) span,
#clone-info-wind:not(.active-clone) span {
    transform: translateY(100%) !important;
    transition: transform 1s ease;
}