@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body{
    margin: 0;
    min-height: 100dvh;
    min-height: 100vh;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: purple;
    border-radius: 16px;
    padding: 20px;
}

.search-box{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

@media (min-width: 720px) {
.container{
    position: relative;
    width: 400px;
    height: 555px;
    background-color: purple;
    border-radius: 16px;
    padding: 20px;
}

.search-box{
    height: 55px;
}

.search-box input{
    font-size: 22px;
    padding: 0px 48px 0px 42px; /* top right bottom left*/
    border: 2px solid rgba(255, 255, 255, .2);

}

.search-box button{
    width: 48px;
    font-size: 28px;
    padding: 0 40px 0 5px;

}

.search-box i{
    font-size: 28px;
}
   
}

.search-box i{
    position: absolute;
    left: 10px;
    font-size: 20px;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1.6px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 58px 0px 34px; /* top right bottom left*/
}

.search-box input::placeholder{
    color: #fff;
    text-transform: capitalize;
}

.search-box button{
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    padding: 0 20px 0 20px;
    cursor: pointer;
}